@model List<Todolist.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h2>Todos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>
                    @todo.Title
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-default">Edit</a>
                    <a asp-action="Show" asp-route-id="@todo.Id" class="btn btn-info">Show</a>
                    <a asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-success" asp-action="Create">Add Todo</a>
</p>